*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

main{
    min-height: 99svh;
}

header{
    background-color: #070605;
    display: grid;
    grid-template-columns: auto auto;
    height: 80px;
}

.title-header{
    color: white;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo{
    width:60px;
}

nav ul{
    list-style-type: none;
    margin-right: 10px;
}

nav ul li{
    float: left;
    width: fit-content;
    text-align: center;
    position: relative;
    margin: 0 10px;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(15, 166, 189);
    border-bottom: 2px solid rgb(4, 174, 209);
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #070605;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    margin: 0px;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

.background{
    height: 91.25svh;
    background-image: url(imgs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.background div{
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background h2{
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 50px;
    font-size: 80px;
}

.actus-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
}

.link-actu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.link-actu:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    transition: 0.5s;
}

.actualite{
    width: 100%;
    min-height: 800px;
}

.img-actu-container{
    width: 100%;
}

.img-actu{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titre_actu{
    text-align: center;
    margin: 20px 0px;
}

.content-actu p{
    margin: 10px;
}

.centrer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-container-page{
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

#actus{
    text-align: center;
    margin: 25px 0px;
    font-size: 50px;
}
.sources{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content-container-page p {
    margin: 10px;
}

.texte-content{
    margin: 25px 10px !important;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #070605;
    color: white;
    padding: 150px 0;
}

.main-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulaire-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(87, 87, 233);
}

.formulaire_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulaire_contact input{
    margin: 10px 0px;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}

.formulaire_contact label{
    margin: 10px 0px;
    
}

.submit{
    width: 100px !important;
}

.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.footer-info a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

.footer-info a:hover{
    color: lightgreen;
    transition: 0.3s
}

.map{
    width:600px;
    height:450px;
    border:1px solid black;
}

.ajoute{
    color: green;
}

.mention{
    width: 80%;
    margin: 40px auto;
}

.mention p, .mention h2{
    margin: 15px;
}

.actualite_ensavoirplus{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}

.nav-container nav{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: end;
}

.imgs-modif{
    width: 5%;
}

.img-add{
    width: 2%;
}

.formPopUp{
    display: none;
}
@media  screen and (max-width: 1400px) {
    .actus-container{
        grid-template-columns: auto;
    }

    #accueil{
        font-size: 40px;
    }

    .title-header{
        font-size: 20px;
    }

    .logo-container{
        margin-left:10px;
        width: min-content;
    }

    .actualite{
        min-height: 500px;
    }

    .map{
        width: 300px;
        height:225px;
    }

    p, a{
        font-size: 14px !important;
    }

    h3{
        font-size: 30px;
    }

    h2{
        font-size: 40px !important;
    }

    h1{
        font-size: 50px;
    }

    .logo{
        width: 50px;
    }

    header{
        height: 80px;
    }

    .formulaire_contact input{
        width: 200px;
    }
    
    .formulaire_contact label{
        font-size: 14px !important;
    }
}

@media  screen and (max-width: 600px) {
    .actualite{
        min-height: 300px;
    }

    .map{
        width: 200px;
        height:150px;
    }

    p, a{
        font-size: 12px !important;
    }

    h3{
        font-size: 18px;
    }

    h2{
        font-size: 28px !important;
    }

    h1{
        font-size: 38px;
    }

    .logo{
        width: 40px;
    }

    header{
        height: 60px;
    }
}


@media  screen and (min-width: 2500px) {
    .map{
        width: 800px;
        height:600px;
    }

    p, a{
        font-size: 50px !important;
    }

    h3{
        font-size: 100px;
    }

    h2{
        font-size: 150px !important;
    }

    h1{
        font-size: 180px;
    }

    .logo{
        width: 140px;
    }

    header{
        height: 160px;
    }
}


@media  screen and (min-width: 3000px) {

    .map{
        width: 1000px;
        height:750px;
    }

    p, a{
        font-size: 70px !important;
    }

    h3{
        font-size: 120px;
    }

    h2{
        font-size: 170px !important;
    }

    h1{
        font-size: 200px;
    }

    .logo{
        width: 160px;
    }

    header{
        height: 220px;
    }
}