*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: black;
    display: grid;
    grid-template-columns: 85% 15%;
    height: 80px;
}

.title-header{
    color: white;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo{
    width:5%;
}

.nav-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-container a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 15px 0;
    font-weight: bold;
}

.background{
    height: 91.25svh;
    background-image: url(imgs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.background div{
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background h2{
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 50px;
    font-size: 80px;
}

.actus-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1200px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
}

.link-actu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.link-actu:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    transition: 0.5s;
}

.actualite{
    width: 100%;
    min-height: 700px;
}

.img-actu-container{
    width: 100%;
}

.img-actu{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titre_actu{
    text-align: center;
    margin: 20px 0px;
}

.content-actu p{
    margin: 10px;
}

.centrer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-container-page{
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;


}

.sources{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content-container-page p {
    margin: 10px;
}

.texte-content{
    margin: 25px 10px !important;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.formulaire_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    margin: 25px;
    color: black;
    border-radius: 5px;
}

.formulaire_contact label, .formulaire_contact input{
    margin: 5px;
}

@media  screen and (max-width: 1400px) {
    .actus-container{
        grid-template-columns: auto;
    }
}